.content{
    width: 100%;
    height: 400vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

/*containers */

.container-div{
    width: 100vw;
    height: auto;
    display: flex;
    background: var(--white);
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 100px;
}

.container-div-text{
    width: 30%;
    font-size: 1.25rem;
    font-weight: 400;
}

.container-div-text p{
    font-size: 2.5rem;
    font-weight: 700;
}

.container-div-image{
    width: 70%;
    max-width: 700px;
    height: auto;
}

.container-div-image img{
    max-width: 450px;
}


.project-image{
    width: 25%;
    height: auto;
    user-select: none;
}

.arrow{
    margin-top: 80px;
    user-select: none;
}

.contact-logos{
    margin-top: 50px;
    width: 80px;
    margin-right: 40px;
}

.container-div-text span{
    color: var(--primary);
    font-weight: 700;
}
