.content{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--black);
    margin-top: 30vh;
    padding-top: 10vh;
}

/*containers */

.container-div{
    width: 90%;
    height: auto;
    display: flex;
    background: var(--white);
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
   
}

.container-div-text{
    width: 40%;
    font-size: 1.3rem;
    font-weight: 400;
}

.container-div-text p{
    font-size: 3rem;
    margin-bottom: 5px;
    font-weight: 700;
}

.container-div-image{
    max-width: 700px;
    height: auto;
    margin-top: 100px;
}

.container-div-image img{
    max-width: 450px;
    width: 700px;
}


.project-image{
    width: 25%;
    height: auto;
    user-select: none;
}

.container-div-text span{
    color: var(--primary);
    font-weight: 700;
}
.contact-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.contact-logos {
    height: 80px;
    margin-top: 10px;
}
.arrow-link{  
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}
.new-arrow {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}
.first-arrow {
    margin-top: 100px;
}
.arrow-link:last-child{
    transform: rotate(180deg); 
}

.projects-galery{ 
    margin-top: 100px;
}

.container-animation{
    animation-name: content-animation;
    animation-duration: 1s;
}

.contact{
    text-align: center;
}

.contact p{
    font-size: 20px;
    font-weight: 400;
    display: none;
}
