 @keyframes lime-animation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
} 

@keyframes button-animation{
    50% {
         background: var(--secondary);
         color: var(--black);
     }
 
     100% {
         background: var(--primary);
         color: var(--white);
     }
 
 }

 @keyframes main-page-animation{
    from{
        margin-top: -100px;
    }

    to{
        margin-top: 0px;
    }
}


@keyframes main-page-image-animation{
    from {
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}


@keyframes content-animation{
    from{
        margin-top: 100px;
        opacity: 0;
    }
    to{
        margin-top: 0;
        opacity: 1;
    }
}




 @media only screen and (max-width: 1200px){

        .header-start-heading{
            font-size: 3em;
        }

        .container-div{
            flex-direction: column;
            padding-top: 60px;
        }

        .container-div-image img{
            width: 50vw;
            height: auto;
            margin-top: 40px;
            margin-bottom: 40px;
            margin-left: auto;
            margin-right: auto;
        }

        .container-div-text p{
            font-size: 2rem;
        }

        .container-div-text{
            font-size: 1rem;
            width: 50%;
        }

 }

/* Telefon */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .header-start-heading{
        font-size: 2em;
    }
    .started-page{
        height: 20vh;
    }
    .logo{
        transform: scale(2);
    }

    .dark-mode-btn{
        transform: scale(1.5);
        margin: 20px;
    }
    .started-page-lime-right { 
       max-width: 200px;
    }
    .started-page-lime-left{
        max-width: 400px;
     }

     .to-none{
         display: none;
     }

     .hamburger{
         display: block;
         margin-left: 40px;
     }
     .header-start-heading{
         font-size: 3rem;
         padding: 1em;
     }

     .btn{
        width: 11em;
        height: 2.5em;
        font-size: 2rem;
     }

     .container-div{
         margin-top: 10vh;
     }
     .container-div-text p{
        font-size: 2.5rem;
        
    }

     .container-div-text{
         font-size: 1.8rem;
         width: 80%;
     }

     .container-div-image{
         width: 90%;
     }

     .container-div-image img{
        width: 100%;
    }

  }

@media only screen and (max-width: 780px){
    .header-start-heading{
        font-size: 4vw;
    }

    .logo img{
        max-width: 40px;
        height: auto;
    }
    .to-none{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }

    .started-page-lime-left{
        max-width: 200px;
        height: auto;
        margin-left: -100px;
    }
    .started-page-lime-right{
        max-width: 200px;
        height: auto;
        padding-bottom: 40px; 
    }
}