.started-page {
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
}
.header-start{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header-start-heading{
    font-size: 3.7rem;
    font-weight: 700;
    height: 100px;
    animation-name: main-page-animation;
    animation-duration: 2s;
    color: var(--black);
    /* font-family: 'Roboto', sans-serif; */
}


.started-page-lime-right { 
    width: 300px;
    z-index: -2;
    align-self: flex-end;
    margin-top: 8vh;
}
.started-page-lime-left { 
    max-width: 370px;
    height: auto;
    margin-left: -200px;
    z-index: 100;
    animation-name: lime-animation;
    animation-duration: 2s;
}

.main-page-image{
    width: 25em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    animation-name: main-page-image-animation;
    animation-duration: 2s;
    opacity: 1;
}


.btn{ 
    width: 11em;
    height: 2.75em;
    cursor: pointer;
    outline: none;
    font-size: 1.25rem;
    font-weight: 300;
    border-radius: 4px;
    transition: 0.3s;
    background: transparent;
    border: 1px solid transparent;
}


.started-page-btn{ 
    margin-top: 15px;
    color: white;
    background: var(--primary);
    /* animation-name: button-animation; */
    animation-duration: 1s;
}
.started-page-btn:hover{ 
    background: var(--white);
    border: 1px solid var(--primary);
    color: var(--primary);
}


.back-lime{
    position: fixed;
    bottom: 5%;
    right: 5%;
    max-width: 70px;
    height: 70px;
    transition: 0.5s;
}

.back-lime:hover{
    transform: rotate(360deg);
}

.typed-cursor {
    display: none;
}