.started-page {
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
}
.header-start{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header-start-heading{
    font-size: 4rem;
    font-weight: 700;
    height: 100px;
    animation-name: example;
    animation-duration: 1s;
}

@keyframes example{
    from{
        margin-top: -250px;
    }

    to{
        margin-top: 0px;
    }
}
.started-page-lime-right { 
    width: 400px;
    margin-top: -100px;
    margin-right: -150px;
    z-index: -2;
    align-self: flex-end;
}
.started-page-lime-left { 
    max-width: 370px;
    height: auto;
    margin-left: -200px;
}
.btn{ 
    width: 12em;
    height: 3em;
    cursor: pointer;
    outline: none;
    font-size: 1.25rem;
    font-weight: 300;
    border-radius: 4px;
    transition: 0.3s;
    background: transparent;
    border: 1px solid transparent;
    
}
.started-page-btn{ 
    margin-top: 15px;
    color: var(--white);
    background: var(--primary);
}
.started-page-btn:hover{ 
    background: var(--white);
    border: none;
    color: var(--primary);
    border: 1px solid ;
}

.arrow{
    width: 50px;
    transform: rotate(90deg);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}