.navbar{
    width: 100%;
    height: 9vh;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    box-shadow: 0px 1px 100px 0px rgba(0,0,0,0.1); 
    z-index: 101;
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}



.logo img{
    width: 50px;
    height: 50px;
    transition: 1s;
}

.logo:hover img{
    transform: rotate(360deg);
}


.text{
    color: var(--black);
    font-size: 2.4em;
    font-weight: 700;
    margin-left: 1vw;
}


/*options*/

.options{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.options li a{
    display: block;
    text-decoration: none;
    color: var(--black);
    font-size: 30;
    padding: 30px;
    font-size: 1.3rem;
    transition: 0.2s;
}

li a:hover{
    color: var(--primary);
}

/*mode change*/

.dark-mode-btn {
    outline: none;
    width: 120px;
    height: 40px;
    border-radius: 4px;
    border: none;
    color: var(--white);
    background: var(--primary);
    /* animation-name: button-animation; */
    animation-duration: 1s;
    transition: 0.3s;
    font-size: 0.9em;
    /* font-family: 'Roboto', sans-serif; */
}

.dark-mode-btn:hover{
    background: var(--white);
    border: 1px solid var(--primary);
    color: var(--primary);
}



.hamburger {
    display: none;
    width: 50px;
    height: 45px;
    position: absolute;
    cursor: pointer;
    right: 5%;
    margin-left: -25px;
    top: 50%;
    margin-top: -22.5px;
}
.hamburger span {
    display: block;
    position: absolute;
    height: 4.44px;
    width: 100%;
    background: var(--black) none repeat scroll 0% 0%;
    opacity: 1;
    right: 0px;
    transition: all 0.25s ease-in-out 0s;
    transform: rotate(0deg);
}
.hamburger span:nth-child(1) {
    margin-top: 0px;
}
.hamburger span:nth-child(2) {
    margin-top: 16px;
    margin-right: 0px;
}
.hamburger span:nth-child(3) {
    margin-top: 32px;
}
.hamburger.opened span:nth-child(1) {
    transform: rotate(135deg);
    margin-top: 16px;
}
.hamburger.opened span:nth-child(2) {
    opacity: 0;
    right: -75px;
}
.hamburger.opened span:nth-child(3) {
    transform: rotate(-135deg);
    margin-top: 16px;
}