.navbar{
    width: 100%;
    height: 8vh;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    box-shadow: 0px 1px 100px 0px rgba(0,0,0,0.1); 
    z-index: 101;
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}



.logo img{
    width: 50px;
    height: 50px;
    transition: 1s;
}

.logo:hover img{
    transform: rotate(360deg);
}


.text{
    font-size: 2.5em;
    
}

.lime{
    color: var(--primary);
    font-weight: 300;
    margin-left: 10px;
}

.sites{
    font-weight: 700;
    color: var(--black);
}

/*options*/

.options{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.options li a{
    display: block;
    text-decoration: none;
    color: var(--black);
    font-size: 30;
    padding: 30px;
    font-size: 1.3rem;
    transition: 0.2s;
}

li a:hover{
    color: var(--primary);
}

/*mode change*/
