/*navbar.css*/
/*navbar*/
.navbar{
    width: 100%;
    height: 10vh;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*logo*/
.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img{
    width: 50px;
    height: 50px;
    
}

.text{
    font-size: 2.5em;
}

.lime{
    color: var(--primary);
    font-weight: 300;
    margin-left: 10px;
}

.sites{
    font-weight: 700;
}

/*options*/

ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
li a{ 
    border-bottom: 2px solid var(--white);
}
ul li a{
    display: block;
    text-decoration: none;
    color: var(--black);
    font-size: 30;
    padding: 30px;
    font-size: 1.3rem;
}

li a:hover{
    border-bottom: 2px solid var(--primary);
}

/*mode change*/
/*
.toggle {

    --width: 60px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);
    display: inline;
    cursor: pointer;
}
.toggle__input {
    display: none;
}
.toggle__fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: var(--black);
    transition: background 0.2s;
    
}
.toggle__fill::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
}
.toggle__input:checked ~ .toggle__fill {
    background: var(--primary);
}

.toggle__input:checked ~ .toggle__fill::after {
    transform: translateX(var(--height));
}
*/