@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap');

:root{
    --primary: #5CAC24;
    --secondary: #ffe477;
    --black: #272727;
    --white: #fafafa;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'JetBrains Mono', sans-serif; */
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    scrollbar-width: none;  /* Firefox */
    transition: all 0.3s ease;
}

body{
    background: var(--white);
}

::-webkit-scrollbar {
    display: none;
}

a{text-decoration: none;}a:link, a:visited, a:hover, a:active {color: var(--black);}





