@import './navbar.css';
@import './button.css';
@import './hello-section.css';
@import './aboutus-section.css';
@import './contact-section.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --green: #5CAC24;
    --yellow: #ffe477;
    --black: #0A0A0A;
    --white: #fafafa;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    scrollbar-width: none;  
}

body{
    background: var(--white);
}

::-webkit-scrollbar {
    display: none;
}

a{text-decoration: none;}a:link, a:visited, a:hover, a:active {color: var(--black);}







