@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --primary: #5CAC24;
    --black: #212121;
    --white: #fafafa;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

body{
    background: var(--white);
}

.navbar{
    width: 100%;
    height: 10vh;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img{
    width: 50px;
    height: 50px;
    
}

.text{
    font-size: 2.5em;
}

.lime{
    color: var(--primary);
    font-weight: 300;
    margin-left: 10px;
}

.sites{
    font-weight: 700;
}

ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
li a{ 
    border-bottom: 2px solid var(--white);
}
ul li a{
    display: block;
    text-decoration: none;
    color: var(--black);
    font-size: 30;
    padding: 30px;
    font-size: 1.3rem;
}

li a:hover{
    border-bottom: 2px solid var(--primary);
}

.started-page {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}
.header-start{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header-start-heading{
    font-size: 4rem;
    font-weight: 700;
    height: 100px;
    animation-name: example;
    animation-duration: 1s;
}

@keyframes example{
    from{
        margin-top: -250px;
    }

    to{
        margin-top: 0px;
    }
}
.started-page-lime-right { 
    width: 400px;
    margin-top: -100px;
    margin-right: -150px;
    z-index: -2;
    align-self: flex-end;
}
.started-page-lime-left { 
    max-width: 450px;
    height: auto;
    margin-left: -250px;
}
.btn{ 
    width: 12em;
    height: 3em;
    cursor: pointer;
    outline: none;
    font-size: 1.25rem;
    font-weight: 300;
    border-radius: 4px;
    transition: 0.3s;
    background: transparent;
    border: 1px solid var(--primary);
    
}
.started-page-btn{ 
    margin-top: 15px;
    color: var(--primary);
}
.started-page-btn:hover{ 
    background: var(--primary);
    border: none;
    color: var(--white);

}

.toggle {

    --width: 60px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);
    display: inline;
    cursor: pointer;
}
.toggle__input {
    display: none;
}
.toggle__fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: var(--black);
    transition: background 0.2s;
    
}
.toggle__fill::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
}
.toggle__input:checked ~ .toggle__fill {
    background: var(--primary);
}

.toggle__input:checked ~ .toggle__fill::after {
    transform: translateX(var(--height));
}


.about-us{
    width: 100%;
    height: 1000px;
}